{% extends "layout.html" %}
{% block content %}
You are currently login.
<form action="/gdisconnect" method="GET">
<button name="logout" value="logout">LOGOUT</button>
</form>

<h1>Changing the Category Name</h1>
<div class="">
<a href ="{{url_for('newCategory')}}">add new category</a>
<div>
<p>{{error_msg}}</p>
<br>
<br>
<br>
for your refrence, they are the list of registered categories.<br>
{% for cg in category %}
<li><a href="/category/{{cg.category_name}}/edit">{{cg.category_name}}</a></li>
{% endfor %}

{% endblock %}
