{% extends "layout.html" %}
{% block content %}
You are currently login.
<form action="/gdisconnect" method="GET">
<button name="logout" value="logout">LOGOUT</button>
</form>

<h1>Categories</h1>
{% for category in category_list %}
<li><a href="/catalog/{{category.category_name}}/items">{{category.category_name}}</a></li>
{% endfor %}
<h1>Latest Items</h1>
{% for item in item_name_w_category %}
<li><a href="/catalog/{{item.category_name}}/{{item.item_name}}">{{item.item_name}}</a>({{item.category_name}})</li>
{% endfor %}

{% endblock %}
