{% extends "layout.html" %}
{% block content %}
You are currently login.
<form action="/gdisconnect" method="GET">
<button name="logout" value="logout">LOGOUT</button>
</form>

<h1>Register New Category</h1>
<h2 font color="red">{{error_msg}}</h2>
<h3>Please enter new category</h3>
<h4>caution: You cannot register the cagegory that already exists</h4>
<form action="/category/new" method="POST">
<input type="text" name="category_name" placeholder="place new cateogry here" required />
<input type="submit" name="buttonName" value="submit">
</form>
<h3>The list of currently registered categories</h3>
{% for category_name in category_names %}
<li><a href="/catalog/{{category_name.category_name}}/items">{{category_name.category_name}}</li>
{% endfor %}

{% endblock %}
